<div class="container-fluid">
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-xs-12 col-md-12">

      <p>
        <strong>Name:
        <%= @product.name %></strong>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <%=image_tag(@product.image_url, data_zoom_image: @product.image_url, class: " img_zoom img-responsive") %>

      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= number_to_currency(@product.price) %>
      </p>



      <p>
        <strong>Highest Rating:</strong>
        <%= @product.highest_rating_comment.try(:rating) %>
      </p>
      <p>
        <strong>Lowest Rating:</strong>
        <%= @product.lowest_rating_comment.try(:rating) %>
      </p>

      <p>Average Rating:
        <div class="rated" id="average_rating" data-score="<%= @product.average_rating %>">
        </div>
      </p>

    </p>

    <%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <%= hidden_field_tag(:product_id, @product.id) %>
<% end %>
    <p>

      <%= render 'new_comment' %>
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <%= render 'comments' %>

      <%= will_paginate @comments %><br>

        <% if signed_in? &&current_user.admin?  %>
          <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default btn-sm" %> |
          <%= link_to 'Back', products_path, class: "btn btn-default btn-sm" %>
        <% end %>
    </div>
 </div>
</div>
